<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

<div class="page-container">
    <div class="image-section">
        <img src="../../assets/IMG_2625.JPG" alt="House" />
    </div>
    <div class="text-section">
        <h1>About Karla</h1>
        <p>
            I started Oceanside Real Estate Photography to combine my passion for photography and real estate into a valuable and impactful business.
             With years of experience as an investor specializing in both Airbnb and long-term rentals, 
             I’ve witnessed firsthand the power of professional photography in driving faster turnovers 
             and attracting more attention to listings. Understanding the nuances of the real estate industry, 
             I’ve built this business to help you showcase your properties with stunning visuals that leave a lasting impression.
            My goal is to elevate your brand, enhance your listings, and contribute to your success.
        </p>
        <h2>Contact:</h2>
        <div class="contact-links">
            <a href="tel:+8057583307" aria-label="Phone" class="phone-link">
                <i class="fas fa-phone-alt"></i> (805) 758-3307
              </a>
          </div>
        <div class="contact-links">
            <a href="mailto:oceanside.realestatephotography@gmail.com" aria-label="Email">
              <i class="fas fa-envelope"></i> oceanside.realestatephotography&#64;gmail.com
            </a>
          </div>
          <div class="social-links">
            <a href="https://www.instagram.com/oc.realestatephoto" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i> oc.realestatephoto
            </a>
        </div>
    </div>
</div>