<div class="services-container">
   <header>
    <h1>Services and Pricing</h1>
  </header>

  <main>
    <!-- Listing Photos Section -->
    <section>
      <h2>Listing Photos</h2>
      <ul>
        <li>0-2,000 square feet: $150 ~ 20 photos</li>
        <li>2,000-3,000 square feet: $200 ~ 30 photos</li>
        <li>3,000-4,000 square feet: $250 ~ 30 photos</li>
        <li>4,000 square feet or more: Contact for an estimate</li>
      </ul>
    </section>

    <!-- Aerial Photography Section -->
    <section>
      <h2>Videography</h2>
      <ul>
        <li>Starting at: $175</li>
      </ul>
    </section>

    <!-- Aerial Photography Section -->
    <section>
      <h2>Aerial Photography</h2>
      <ul>
        <li>Aerial Drone Stills: $75</li>
      </ul>
    </section>

    <!-- Add Ons Section -->
    <!-- <section>
        <h2>Add Ons</h2>
        <ul>
          <li>Floor Plan Blueprints: $50</li>
          <li>Virtual Staging: $30 per image</li>
          <li>Outside Coverage Radius Travel Charge: $75</li>
        </ul>
      </section> -->
  </main>
</div>
